* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
}

/* Pages */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  justify-content: space-between;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  border-left: 2px solid grey;
}

.home {
  margin: 2rem;
}

.home h2 {
  margin-bottom: 10px;
  font-size: 37px;
}

.home p {
  margin: 2rem;
  font-size: 28px;
}

.quote {
  text-align: center;
  width: 70%;
  margin: 10rem;
}

.container-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 5rem;
}

.container {
  height: 75vh;
  width: 90vh;
  background-color: rgb(210, 204, 212);
  padding: 0.3rem;
}

.wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 3px;
}

.screen {
  grid-column: 1 / -1;
  color: white;
  text-align: right;
  padding: 0.5rem;
  font-size: 4rem;
  overflow: hidden;
}

.btn {
  display: grid;
  place-content: center;
  background-color: rgb(54, 52, 52);
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background-color: grey;
}

.light-gray {
  background-color: grey;
  color: black;
}

.light-gray:hover {
  background-color: white;
}

.orange {
  background-color: orange;
}

.orange:hover {
  background-color: white;
  color: orange;
}

.zero {
  grid-column: 1 / span 2;
  place-content: unset;
  align-items: center;
  padding-left: 1.8rem;
}
